[Unit]
Description=Touchscreen display control

[Service]
ExecStart=/home/pi/heisenberg/entrypoint.sh run
WorkingDirectory=/home/pi/heisenberg
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
