[env]
PI_DIR = "/home/pi/heisenberg"
PI_HOST = "pi@192.168.0.23"
PI_TARGET = "armv7-unknown-linux-musleabihf"
BINARY_PATH = "target/{{env.PI_TARGET}}/release/heisenberg"

[tasks.build]
description = "Build for the Pi"
sources = ["Cargo.toml", "Cargo.lock", "src/**/*.rs"]
outputs = ["{{env.BINARY_PATH}}"]
run = "cargo build --release --target {{env.PI_TARGET}}"

[tasks.copy]
depends = ["build"]
description = "Copy build files to the Pi"
run = [
    """rsync -r -vv deploy/ {{env.PI_HOST}}:""",
    """rsync -r -vv \
    config.json {{env.BINARY_PATH}} {{env.PI_HOST}}:{{env.PI_DIR}}""",
]

[tasks.deploy]
depends = ["copy"]
description = "Run on the Pi"
run = "ssh {{env.PI_HOST}} \"pkill -f xterm\""

[tasks.dev]
description = "Run locally"
run = """watchexec --restart --no-process-group \
    --watch Cargo.toml --watch Cargo.lock --watch src/ \
    -- cargo run"""
