a:visited {
    color: inherit;
}

body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: red;
    width: 100%;
    height: 48px;
}

.nav-link {
    text-decoration: none;
}

.main {
    margin-bottom: auto;
}

.footer {
    height: 16px;
}
